---
import Arrow from "../components/Arrow.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jakub Swietoniowski">
  <div
    id="menu-icon"
    class="fixed lg:hidden top-10 right-10 z-30 cursor-pointer w-7 h-7 [&>span]:bg-zinc-100 [&>span]:w-1 [&>span]:h-1 [&>span]:rounded-full [&>span]:absolute"
  >
    <span class="left-0 top-0"></span>
    <span class="left-3 top-0"></span>
    <span class="right-0 top-0"></span>
    <span class="left-0 top-3"></span>
    <span class="left-3 top-3"></span>
    <span class="right-0 top-3"></span>
    <span class="left-0 bottom-0"></span>
    <span class="left-3 bottom-0"></span>
    <span class="right-0 bottom-0"></span>
  </div>
  <div
    id="menu-circle"
    class="bg-zinc-900 lg:hidden fixed top-[3.25rem] right-[3.25rem] z-10 w-1 h-1 rounded-full"
  >
  </div>
  <nav
    class="fixed lg:sticky z-20 h-full lg:h-screen w-full lg:top-0 lg:w-[280px] hidden lg:flex shrink-0 justify-center items-center"
  >
    <ul
      class="relative text-zinc-100 [&>li]:flex [&>li>a:hover]:text-violet-500 [&>li>a:hover~svg]:stroke-violet-400 [&>li]:justify-center lg:[&>li]:justify-end [&>li]:h-11 lg:[&>li]:h-8 [&>li]:mb-1 [&>li]:items-center [&>*:nth-child(4)]:mt-11"
    >
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
      <li>
        <a href="https://github.com/jakubsdev">Github</a>
        <!-- https://feathericons.dev/?search=github&iconset=feather -->
        <svg
          class="float-right h-2/3 ml-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
          ></path>
        </svg>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/swietoniowski-jakub/">Linkedin</a>
        <!-- https://feathericons.dev/?search=linkedin&iconset=feather -->
        <svg
          class="float-right h-2/3 ml-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          ></path>
          <rect height="12" width="4" x="2" y="9"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1vaeTdoNUB8yMikQs1wEeZcy9cgyOrt2P/view?usp=drive_link"
          target="_blank">Resume</a
        >
        <!-- https://feathericons.dev/?search=file-text&iconset=feather -->
        <svg
          class="float-right h-2/3 ml-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
          ></path>
          <polyline points="14 2 14 8 20 8"></polyline>
          <line x1="16" x2="8" y1="13" y2="13"></line>
          <line x1="16" x2="8" y1="17" y2="17"></line>
          <polyline points="10 9 9 9 8 9"></polyline>
        </svg>
      </li>
    </ul>
  </nav>

  <main class="px-4 w-full lg:w-2/3">
    <header class="flex justify-center items-left flex-col min-h-screen py-12">
      <p class="text-zinc-500">Hello, my name is</p>
      <h1 class="text-5xl lg:text-6xl mb-4 tracking-wider text-violet-500">
        Jakub Swietoniowski
      </h1>
      <p class="text-lg">
        A full-stack web developer that is committed to helping businesses
        provide seamless user experiences, <span class="text-violet-500"
          >one line of JavaScript at a time</span
        >.
      </p>
      <a
        id="contact-first"
        class="mt-12 self-start flex cursor-pointer"
        href="mailto:50next50@gmail.com"
      >
        <div id="contact-first-overlay">
          <p>Let's work together</p>
          <!-- https://feathericons.dev/?search=mail&iconset=feather -->
          <svg
            class="h-6 ml-3"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path
              d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
            ></path>
            <polyline points="22,6 12,13 2,6"></polyline>
          </svg>
        </div>
        <p>Let's work together</p>
        <svg
          id="contact-arrow"
          class="h-6 ml-3"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
        </svg>
      </a>
    </header>
    <section
      id="about"
      class="flex min-h-screen justify-center items-center py-12"
    >
      <div>
        <h1 class="text-7xl lg:text-8xl font-bold text-zinc-800">ABOUT</h1>
        <div class="flex flex-col-reverse lg:flex-row items-center">
          <div class="space-y-6">
            <p>
              Hello, I'm Jakub and I enjoy creating interactive digital
              experiences in all shapes and sizes. My programming journey dates
              back to 2014 when I decided to make my own incremental game. The
              constant thrill of identifying and solving complex problems
              fuelled my determination to pursue software development as a
              career.
            </p>
            <p>
              Over the years, I improved my skills and explored various web
              technologies. I recently obtained a First Class Bachelor's Degree
              with Honours in Computer Science from Lancaster University. I look
              forward to collaborating with teams that value innovation, and I'm
              always open to exciting opportunities to learn, grow, and
              contribute in meaningful ways.
            </p>
            <p>
              In my free time, you can find me passionately playing 8-ball pool,
              basketball and video games. In the future, I hope to join the
              flight simulation community as aviation was always my secondary
              passion.
            </p>
          </div>
          <img
            id="avatar"
            class="rounded-full w-40 h-40 shrink-0 m-8"
            src="me.jpg"
          />
        </div>
      </div>
    </section>
    <section
      id="projects"
      class="flex flex-col min-h-screen justify-center items-center py-12"
    >
      <h1 class="self-end text-7xl lg:text-8xl font-bold text-zinc-800">
        PROJECTS
      </h1>
      <div
        class="flex flex-col lg:flex-row w-full justify-center items-center py-8"
      >
        <img
          class="rounded-lg w-full md:w-3/4 lg:w-1/2 -mb-6 lg:-mr-6"
          src="codal.png"
        />
        <a
          class="rounded-lg h-min p-4 w-full md:w-3/4 lg:w-1/2 bg-zinc-900 hover:brightness-110 [&:hover_svg]:-translate-y-1 [&:hover_svg]:translate-x-1 [&:hover_svg]:ease-in [&:hover_svg]:duration-100"
          href="https://github.com/jakubsdev/codal-ide"
        >
          <h2 class="text-xl text-violet-500 mb-2">
            C++ (CODAL) online IDE for MicroBit
            <Arrow classes="inline" />
          </h2>
          <p>
            This web application provides an IDE (Integrated Development
            Environment) to write, store, compile and download MicroBit-ready
            code which uses CODAL - a C++ runtime enviornment built specifically
            for these microcontrollers. The website features Google login system
            and MongoDB storage. The IDE has all the needed functionality such
            as autocompletion, code suggestions, error reporting and semantic &
            syntax highlighting, all running from clangd language server. The
            whole project works on a group of docker containers with a docker
            compose setup.
          </p>
          <ul
            class="flex gap-2 flex-wrap mt-6 [&>li]:bg-zinc-800 [&>li]:text-violet-400 [&>li]:text-sm [&>li]:px-2.5 [&>li]:py-0.5 [&>li]:rounded [&>li]:border [&>li]:border-violet-500"
          >
            <li>HTML</li>
            <li>CSS</li>
            <li>REACT.JS</li>
            <li>JAVASCRIPT (ES6+)</li>
            <li>TYPESCRIPT</li>
            <li>NODE.JS</li>
            <li>MONGODB</li>
            <li>DOCKER</li>
          </ul>
        </a>
      </div>
    </section>
    <section
      id="contact"
      class="text-zinc-300 flex flex-col min-h-screen justify-center items-left pt-12"
    >
      <h1 class="self-start text-7xl lg:text-8xl font-bold text-zinc-800">
        GET IN TOUCH
      </h1>
      <p class="text-lg">
        I answer to all e-mails whenever I can. If you have a problem for me to
        solve, or just want to connect, please don't hesitate to contact me!
      </p>
      <p class="mt-12">
        Shoot me an <a
          class="underline text-zinc-100 hover:text-violet-500"
          href="mailto:50next50@gmail.com">e-mail</a
        > or find me on <a
          class="underline text-zinc-100 hover:text-violet-500"
          href="https://www.linkedin.com/in/swietoniowski-jakub/">LinkedIn</a
        >
      </p>
    </section>
    <footer class="text-zinc-500 flex flex-col items-end">
      <p>
        Made with... <span class="italic">checks notes</span>
        a fine pair of hands, and <a
          class="text-zinc-100 hover:text-violet-500"
          href="https://astro.build/">Astro</a
        >, and <a
          class="text-zinc-100 hover:text-violet-500"
          href="https://tailwindcss.com/">Tailwind CSS</a
        >.
      </p>
      <p>
        This site does not use cookies, go eat some instead. Source code is
        available <a
          class="text-zinc-100 hover:text-violet-500"
          href="https://github.com/jakubsdev/portfolio">here</a
        >.
      </p>
    </footer>
  </main>
  <style>
    .active {
      @apply text-violet-400;
    }
    #contact-first {
      position: relative;
      @apply text-violet-100;
    }
    #contact-first-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200%;
      width: 200%;
      clip-path: circle(0% at 0px 50%);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 10;
      @apply bg-violet-500 text-black;
    }
  </style>
</Layout>
