<div class="w-full h-screen flex flex-col items-center justify-center bg-slate-950 text-white gap-8">
	<h1 class="text-2xl">Site <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-violet-500">revamp</span> in progress..</h1>
	<div class="flex gap-4">
		<a href="https://www.linkedin.com/in/jakubsdev/" target="_blank" class="text-slate-400 hover:text-slate-200 transition-all duration-300 hover:underline underline-offset-2">
			<span class="text-md">LinkedIn</span>
		</a>
		<a href="mailto:50next50@gmail.com" target="_blank" class="text-slate-400 hover:text-slate-200 transition-all duration-300 hover:underline underline-offset-2">
			<span class="text-md">Email</span>
		</a>
	</div>
</div>
